* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.clearfix {
    clear: both;
}

.containar {
    /*display: flex;*/
    background: #caedfd;
}

.slider {
    background: #dc3030;
    position: relative;
    width: 82%;
    height: 400px;
    margin: auto;
}

.slider-img {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#ul-parent {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    /*transform-origin: 40% 0;*/
}

#ul-parent li {
    position: absolute;
    width: 100%;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#ul-parent li:nth-child(1) {
    transform: translateX(0);
    animation-delay: -20s;
}

#ul-parent li:nth-child(2) {
    transform: translateX(550px) translateZ(-300px) rotateY(30deg);
    animation-delay: -15S;
}

#ul-parent li:nth-child(3) {
    transform: translateZ(-500px);
    animation-delay: -10S;
}

#ul-parent li:nth-child(4) {
    transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
    animation-delay: -5S;
}

@keyframes slider {
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(550px) translateZ(-300px) rotateY(30deg);
    }
    50%,
    70% {
        transform: translateZ(-500px)
    }
    75%,
    95% {
        transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
    }
    97% {
        transform: translateX(-550px) translateZ(-300px) rotateY(-30deg) translateX(-400);
    }
    100% {
        transform: translateX(0);
    }
}