@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.wallet {
    user-select: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.card-wallet-wrapper {
    height: 480px;
    width: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #C0C0C0;
    background: white;
}

.card-wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 300px;
    margin-top: -80px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-image: url('https://images.wallpaperscraft.com/image/stains_paint_liquid_144876_3840x2400.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 30px #250f10, -10px -10px 30px #331516;
    transition: all .4s ease;
}

.card-wallet:hover {
    transform: scale(1.1);
}

.card-wallet-header,
.card-wallet-number,
.card-wallet-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    transition: all .4s ease;
}

.card-wallet-number {
    justify-content: center;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    width: 90%;
    transition: all .4s ease;
}

#chip {
    height: 50px;
    width: 80px;
    border-radius: 15px;
    margin: 10px;
}

#logo {
    height: 60px;
    width: 100px;
    margin: 10px;
    border-radius: 15px;
}

#p-card-wallet-number,
#card-wallet-name,
#card-wallet-cvv,
#card-wallet-month,
#card-wallet-year {
    color: #f1f1f1;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    trasition: all .4s ease;
}

.card-wallet-name-wrapper,
.cvv-wrapper {
    display: flex;
    justify-content: center;
    max-width: 70%;
    border-radius: 5px;
    padding: 0;
    transition: all .4s ease;
}

.date-wrapper {
    width: 30%;
    height: 60%;
    display: flex;
    flex-directiom: row;
    justify-content: space-around;
    border-radius: 5px;
    transition: all .4s ease;
}

#card-wallet-name::before {
    display: block;
    content: "card-walletholder";
    font-size: 0.7em;
    letter-spacing: normal;
    color: lightgrey;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

.heading {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-card-wallet-number,
.form-card-wallet-holder,
.form-bottom {
    height: 50px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
}

.form-bottom {
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.form-submit {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#month,
#year {
    width: 20%;
    border: 1px solid #C0C0C0;
    margin: 0px 10px 0px 10px;
}

#submit {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    margin: 30px;
    border: none;
    outline: none;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    background: #03A9F4;
}

#date {
    width: 40%;
}

#input-cvv {
    border: 1px solid #C0C0C0;
    width: 30%;
    float: right;
}