html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Css Header */

@import url("./header/header.css");

/* Css Home */

@import url("./home//home.css");

/* Contact-Us */

@import url("./contact-us/contact-us.css");

/* Footer */

@import url("./footer/footer.css");

/* About */

@import url("./about/about.css");