@media screen and (max-width: 975px) {
    svg.header-icons {
        width: 20%;
    }
    a.header-menu-list-right-li.nav-link {
        display: flex;
    }
    .mr-auto.header-menu-list-right.navbar-nav {
        width: 50%;
        margin-bottom: 146px;
    }
    div#basic-navbar-nav {
        /* height: auto; */
    }
    img.header-logo {
        width: 33%;
    }
    .mr-auto.header-menu-list.navbar-nav {
        height: 320px;
    }
    img.card-img-top.home-teacher-img {
        margin: auto;
    }
    .about_spa_feedbackstar.row {
        text-align: center;
        margin: auto;
    }
    div#rating {
        margin-left: 30%;
    }
}